.kt-widget25 .kt-widget25__stats {
    font-size: 2.5rem;
    text-transform: capitalize;
}
.kt-widget25 .kt-widget25__items .kt-widget25__item {
    padding: 10px;
}
.badge-label.kt-badge{
    width: 200px;
    height: 30px;
    font-size: 1.5rem;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}