{% extends 'newapp/base.html' %}

{% block content %}
<h2>New post</h2>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning btn-lg" type="submit">Save</button>
</form>
{% endblock %}