{% extends 'newapp/base.html' %}

{% block content %}
    <a href= "{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"> tambah</span></a>

    <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Judul</th>
              <th>isi</th>
              <th>published date</th>
            </tr>
          </thead>
          <tbody>
          {% for post in posts %}
            <tr>
              <td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
              <td>{{ post.text|linebreaksbr }}</td>
              <td>{{ post.published_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}
